cachetools==5.5.0
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
prometheus-client==0.21.1
pygments==2.19.2
pytest==8.4.1
pytest-env==1.1.5
requests==2.32.3
ruff==0.12.10
urllib3==2.5.0
