apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rundeck-exporter.fullname" . }}
  labels:
    {{- include "rundeck-exporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "rundeck-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "rundeck-exporter.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          {{- if .Values.envSecret }}
          envFrom:
          - secretRef:
              name: {{ .Values.envSecret }}
          {{- end }}
          {{- if .Values.env }}
          env:
            {{- range $key, $value := .Values.env }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
          {{- end }}
          {{- include "rundeck-exporter.volumeMounts" . | nindent 6 }}
      {{- include "rundeck-exporter.volumes" . | nindent 6 }}
      {{- if not .Values.probe.disabled }}
      {{- if .Values.serviceMonitor.enabled }}
      metadata:
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/path: "/metrics"
          prometheus.io/port: "{{ .Values.service.port }}"
      {{- end }}
      readinessProbe:
        httpGet:
          path: /health
          port: {{ .Values.service.port }}
        initialDelaySeconds: {{ .Values.probe.initialDelaySeconds }}
        periodSeconds: {{ .Values.probe.periodSeconds }}
      livenessProbe:
        httpGet:
          path: /health
          port: {{ .Values.service.port }}
        initialDelaySeconds: {{ .Values.probe.initialDelaySeconds }}
        periodSeconds: {{ .Values.probe.periodSeconds }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
